<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tricker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD1C4F2D1DCE252200CF63E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD1C4F461DCE252300CF63E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD1C4F511DCE252300CF63E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
